.logout-container {
  border-radius: 5px;
  border: 1px solid var(--default-color);
  height: fit-content;
  margin-left: 7rem;
  margin-top: 3rem;
  max-width: 30rem;
  padding: 2rem;
  row-gap: 1rem;
}

.row-format {
  column-gap: 2rem;
  display: flex;
}

.profile-column {
  row-gap: 1rem;
}
.profile-details {
  column-gap: 2rem;
}

.logout-btn {
  margin-left: 0;
  margin-top: 0;
}

@media only screen and (max-width: 640px) {
  .logout-container {
    margin-left: unset;
  }
}
