.flex-row-justify-space-around {
  display: flex;
  justify-content: space-around;
}

.input-height-6 {
  height: 6rem;
  overflow-y: scroll;
  padding: 10px;
}

.add-note-container {
  display: flex;
  flex-direction: column;
  height: 30rem;
  margin: 1rem;
  overflow-y: auto;
  padding: 1rem;
  row-gap: 10px;
  width: 20rem;
}

.add-note-btns {
  flex-wrap: wrap;
}

.btn-outline-primary:hover {
  color: var(--bg-color);
}

.single-video-container {
  height: 22rem;
  width: 95%;
  margin: 1rem;
}

.react-player {
  height: 30rem;
  width: 100%;
  position: unset;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.video-content {
  width: 70%;
  box-sizing: border-box;
  padding-right: 1rem;
}

.video-details {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.hashtag {
  font-weight: normal;
  font-size: 14px;
}

.btn-fit-content {
  width: fit-content;
  padding: 10px;
  display: inline-flex;
  align-items: center;
}
.playlist-icon {
  height: 1.2rem;
  width: 1rem;
  box-sizing: border-box;
}

.icon-chip {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.added-note {
  border-radius: 10px;
  border: 1px solid var(--default-color);
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin: 5px;
}
.added-note-description {
  font-size: 14px;
}

.flex-row-justify-start {
  display: flex;
  justify-content: flex-start;
  column-gap: 1rem;
}

.btn-link-error {
  margin: unset;
  color: var(--error-color);
  font-weight: normal;
  border-bottom: 1px solid var(--error-color);
  padding: unset;
  border-radius: unset;
  margin-right: 1.5rem;
}

.btn-link-primary {
  margin: unset;
  color: var(--primary-color);
  font-weight: normal;
  border-bottom: 1px solid var(--primary-color);
  padding: unset;
  border-radius: unset;
  margin-right: 1.5rem;
}

.flex-row-justify-space-between {
  display: flex;
  justify-content: space-between;
}

.video-title {
  font-size: 1.2rem;
}
@media only screen and (max-width: 1024px) {
  .video-and-notes {
    flex-direction: column;
  }

  .video-content {
    width: 100%;
  }

  .add-note-container {
    max-width: 50rem;
    width: 100%;
    height: unset;
    margin: unset;
  }
}
